<ion-header translucent="false">
  <ion-toolbar>
    <ion-title>
      Modal Test
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="white" (click)="modalController.dismiss()"><ion-icon slot="icon-only" name="close-circle"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="background">
  <div class="body">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="6">
          <ion-card>
            <ion-item>
              <ion-avatar>
                <img src="./assets/avatar.svg">
              </ion-avatar>
              <ion-label class="ion-text-wrap">
                <h3>Name Goes Here</h3>
                <p>Long description Goes Here in order to add length to the page.</p>
              </ion-label>
              <ion-button slot="end" (click)="clickTest()">Click Test</ion-button>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <ion-card>
            <ion-item>
              <ion-avatar>
                <img src="./assets/avatar.svg">
              </ion-avatar>
              <ion-label class="ion-text-wrap">
                <h3>Name Goes Here</h3>
                <p>Long description Goes Here in order to add length to the page.</p>
              </ion-label>
              <ion-button slot="end" (click)="clickTest()">Click Test</ion-button>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <ion-card>
            <ion-item>
              <ion-avatar>
                <img src="./assets/avatar.svg">
              </ion-avatar>
              <ion-label class="ion-text-wrap">
                <h3>Name Goes Here</h3>
                <p>Long description Goes Here in order to add length to the page.</p>
              </ion-label>
              <ion-button slot="end" (click)="clickTest()">Click Test</ion-button>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <ion-card>
            <ion-item>
              <ion-avatar>
                <img src="./assets/avatar.svg">
              </ion-avatar>
              <ion-label class="ion-text-wrap">
                <h3>Name Goes Here</h3>
                <p>Long description Goes Here in order to add length to the page.</p>
              </ion-label>
              <ion-button slot="end" (click)="clickTest()">Click Test</ion-button>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <ion-card>
            <ion-item>
              <ion-avatar>
                <img src="./assets/avatar.svg">
              </ion-avatar>
              <ion-label class="ion-text-wrap">
                <h3>Name Goes Here</h3>
                <p>Long description Goes Here in order to add length to the page.</p>
              </ion-label>
              <ion-button slot="end" (click)="clickTest()">Click Test</ion-button>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
