<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="openModal()">Modal Controller</ion-button>
  <ion-button id="trigger-button">Inline Modal</ion-button>
  <ion-modal
    [swipeToClose]="true"
    [presentingElement]="routerOutlet.nativeEl"
    mode="ios" trigger="trigger-button">
    <ng-template>
      <app-modal></app-modal>
    </ng-template>
  </ion-modal>
</ion-content>
